@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

:root{
    --background: #FFFCF2;
    --primary: #252422;
    --secondary: #CCC5B9;
    --decoration: #EB5E28;
    --text: #403D39;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 70px ;
}

header{
    height: 70px;
    width: 100%;
    display: flex;
    padding: 0 40px;
    justify-content: space-between;
    align-items: center;
    background: var(--primary);
    color: var(--secondary);
    position: fixed;
}

.logo{
    height: 50px;
    width: 50px;
    background: url(./images/consola-de-video.png) no-repeat center/cover;
}

.navbar{
    display: flex;
    gap: 50px;
    padding: 0 20px;
}

.nav-list{
    display: flex;
    gap: 20px;

}

.nav-list a{
    color: var(--secondary);
    transition: 0.5s ease;
}

.nav-list a:hover{
    color: var(--decoration);
    transition: 0.5s ease;
}

.cart {
    color: var(--secondary);
}

.cart-number{
    color: var(--decoration);
    font-weight: bold;
    position: absolute;
    top: 15px;
    font-size: 14px;

}

.menu-label{
    display: none;
}

/* about-us*/

.presentation-header{
    padding: 0 10px;
}

.presentation-nav-list{
    display: flex;
    gap: 10px;
    padding: 0 20px;
}

.presentation-nav-list a{
    color: var(--secondary);
}

.presentation{
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    gap: 50px;

}

/* main */

main{
    width: 100%;
    background: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 0 0 50px 0;
}

/* hero */

#hero{
    background: url(./images/balkouras-nicos-ncOQxZe8Krw-unsplash-scaled-e1583162578291.jpg) no-repeat center/cover;
    width: 100%;
    height: 350px;
    margin-top: 70px;
    color: white;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1{
    font-size: 45px;
}

#hero h3{
    font-size: 25px;
}

/* products */

#products{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1400px;
    gap: 100px;
}

#products h2{
    font-size: 40px;
    margin-bottom: 30px;
}

.search-products{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.search-bar{
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;

}

.bar{
    width: 35%;
    min-width: 250px;

}

.search-bar input{
    width: 100%;
    min-width: 250px;
    height: 40px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid var(--primary);
}

.search-bar button{
   width: 50px;
   height: 40px;
   border-radius: 10px;
   border: none;
   background: var(--decoration);
   color: var(--background);
   cursor: pointer;
}

.error{
    color: red;
}

/* category-filter */

.products-and-filter{
    width: 100%;
    display: flex;
    padding: 20px 40px;
    gap: 20px;


}

.filter-categories{
    height: 600px;
    width: 400px;
    border-radius: 5px;
    background: white;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;


}

.category{
    width: 100%;
    font-size: 18px;
    border: none;
    background: white;
    color: var(--text);
    display: flex;
    padding: 0 50px;
    cursor: pointer;

}

.filter-categories button:hover{
    background: var(--decoration);
    color: white;

}

.category-active{
    background: var(--decoration);
    color: white;
}

.products-container{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 20px 0;
    gap: 50px;
    justify-content: center;

}



/* product card */

.product-items{
    width: 300px;
    height: 350px;
    border-radius: 5px;
    background: white;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: space-around;
    padding: 25px;

}

.product-items:hover{
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    transition: 0.2s ease;
}

.product-items img{
    height: 200px;
    width: 200px;
}

.product-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    color: var(--text);
    font-weight: bold;
}

.product-price{
    width: 100%;
    display: flex;
    padding: 0 5px;
    justify-content: space-between;

}

.price{
    color: var(--decoration);
}

.add{
    width: 90px;
    height: 30px;
    border-radius: 5px;
    background: var(--decoration);
    font-size: 16px;
    color: var(--background);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-out;
    border: none;
}

.add:hover{
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in;
}

.add:active{
    background: var(--background);
    color: var(--decoration);
    transition: 0.2s;
}

.show-more{
    background: white;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    border: none;
    padding: 10px;
    color: var(--text);
    font-size: 18px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    display: block;
}

.show-more:hover{
    color: var(--decoration);
}

.hide{
    display: none;
}

/* contact */

#contact {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
}

.contact-links, .user-commentary{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
}

.contact-links ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-links li, .contact-links a{
    color: var(--text);
    transition: 0.5s;
}

.contact-links span{
    color: var(--decoration);
    font-weight: 600;
}

.contact-links a:hover{
    color: var(--decoration);
    transition: 0.5s;
}

.user-commentary form {
   
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-commentary input{
    width: 100%;
    outline: none;
    border: 1px solid var(--text);
    border-radius: 5px;
    padding: 2px 10px;
}

.user-commentary input[type=submit] {
    align-self: flex-end;
    max-width: 100px;
    color: var(--background);
    background-color: var(--text);
    cursor: pointer;
    transition: 0.5s;
}

.user-commentary input[type=submit]:hover {
    color: var(--decoration);
    transition: 0.5s;
}

.user-commentary textarea{
    outline: none;
    padding: 2px 10px;
    border: 1px solid var(--text);
    border-radius: 5px;
}

/* footer */

footer{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: var(--primary);
    color: var(--secondary);
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    font-weight: bold;
}

footer div{
    display: flex;
    gap: 40px;
}

footer div>a{
    color: var(--secondary);
    font-weight: bold;
    transition: 0.5s;
}

footer a:hover {
    color: var(--decoration);
    transition: 0.5s;
}




